{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'Landing/css/item2_style.css' %}">
</head>
<div class="adobo_container">
    <div class="adobo_showcase">
        <!-- Left Square Section -->
        <div class="product_square">
            <!-- Top section with logo and product name -->
            <div class="square_header">
                <div class="shop_logo">FOOT WEAR</div>
                <div class="product_title">ADOBO SHOES</div>
            </div>
            
            <!-- Main shoe image area -->
            <div class="shoe_display" >
                <img src="static\Landing\img\shoe_square.png" style="background: white;" alt="{{ Item_products.product }}" class="shoe_image">
            </div>
            
            <!-- Bottom section with product info -->
            <div class="square_footer">
                {% for Item_products in products %}
                    {% if forloop.first %}
                        <h2 class="product_name">{{ Item_products.product }}</h2>
                        <p class="product_description">{{ Item_products.description }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        <!-- Right Geometric Section -->
        <div class="geometric_section">
            <div class="circle_container">
                <div class="circle_bg"></div>
                <div class="geometric_shapes">
                    <div class="shape shape_1"></div>
                    <div class="shape shape_2"></div>
                    <div class="shape shape_3"></div>
                </div>
                <img src="static\Landing\img\shoe_case.png" alt="{{ Item_products.product }}" class="floating_shoe">
                <div class="price_tag">
                    <span class="currency">$</span>
                    <span class="price">5000</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    {% include "Landing/item3.html" %}
</div>
{% endblock %}