{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'Landing/css/item1_style.css' %}">
</head>
<div>
    <div class="item_container">
        <div class="item_headings">
            <div class="item_headings_text">
                <h1>NEW SHOES</h1>
                <h3>For every occasions</h3>
            </div>
            <div class="item_headings_text_1">VIEW MORE ></div>
        </div>
        <div class="item_containers_1">
            {% for Item_products in products %}
            <div class="item_body">
                <div class="item_img">
                    {% if Item_products.image %}
                        <img src="{{ Item_products.image.url }}" alt="{{ Item_products.product }}">
                    {% else %}
                        <div class="no_image_placeholder">No image available</div>
                    {% endif %}
                </div>
                <div class="item1_text">
                    <h1>{{ Item_products.product }}</h1>
                    <p>{{ Item_products.description }}</p>
                    <div class="item1_shop_now_button">
                        <button>${{ Item_products.price }}</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="black_line"> </div>
<div class = "item2_section">
    {% include "Landing/item2.html" %}
</div>
{% endblock %}