{% load static %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<nav class="navbar">
    <ul>
        <div class="Logo_of_shop">
            <img src="{% static 'Landing/img/logo.png' %}" alt="Logo">
        </div>
        <div class="nav_items">
            <li>NEW SHOES</li>
            <li><a href="">HOME</a></li>
            <li>ABOUT</li>
            <li>SHOP</li>
            <li>
                <div class="Search_bar">
                    <div class="Search_logo">
                       <i class="fa fa-search"></i>
                    </div>
                    <div class="Search_text">
                        search
                    </div>
                </div>
            </li>
            <li>
                <div class="Favorite">
                    <i class="fa fa-heart"></i>
                </div>
            </li>
            <li>
                <div class="Basket">
                    <i class="fa fa-shopping-basket"></i>
                </div>
            </li>
        </div>
    </ul>
    <div class="blue_line">   
        
    </div>
</nav>