{% extends "Landing/base.html" %}
{% load static %}
{% block title %} Home Page {% endblock %}

{% block content %}
    <div class="main-body">
        <div class="main_text">
            <h1>MAKING FOOTWEAR A FOOT YOU CAN WEAR</h1>
        </div>
        <div class="shop_now_button">
            <button>SHOP NOW</button>
        </div>
        <div class="carousel_buttons">
            <div class="btn1">
                <i class="fa fa-circle"></i>
            </div>
            <div class="btn2">
                <i class="fa fa-circle"></i>
            </div>
            <div class="btn3">
                <i class="fa fa-circle"></i>
            </div>
        </div>
    </div>
    <div class = "item1_section">
        {% include "Landing/item1.html" %}
    </div>
{% endblock %}