{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'Landing/css/item3_style.css' %}">
</head>
<div class="categories_container">
    <div class="categories_header">
        <div class="category_tabs">
            <div class="tab active">FORMAL</div>
            <div class="tab">CASUAL</div>
            <div class="tab">SPORTS</div>
        </div>
        <div class="browse_text">May Pinapormahan to..</div>
    </div>
    
    <div class="products_section">
        <div class="featured_product">
            <div class="featured_circle">
                <img src="static\Landing\img\formal_shoes_pasikat.png" alt="">
            </div>
        </div>
        
        <div class="product_cards">
            {% for Item_formal in formal|slice:":4" %}
            <div class="product_card">
                <div class="card_image">
                    {% if Item_formal.image %}
                        <img src="{{ Item_formal.image.url }}" alt="{{ Item_formal.product }}">
                    {% else %}
                        <div class="no_image_placeholder">No image</div>
                    {% endif %}
                </div>
                <div class="card_info">
                    <h3 class="card_title">{{ Item_formal.product|upper }}</h3>
                    <p class="card_price">₱{{ Item_formal.price }}</p>
                    <div class="card_actions">
                        <button class="buy_button">BUY</button>
                        <button class="heart_button">♡</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="navigation_arrow">
            <button class="nav_arrow">›</button>
        </div>
    </div>
</div>
{% endblock %}